*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
.container{
    width: 80%;
    margin: auto;
    font-family: "poppins";
}

nav a{
    text-decoration: none;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;



color: rgba(31, 46, 53, 0.8);

}
.nav ul{
    
    display: flex;
    justify-content: space-between;
    column-gap: 50px;

}
nav{
width: 100%;
    height: 100px;
    padding-top: 22px;
    padding-bottom: 22px;
    
    background: #FFFFFF;
box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
.ota1{
    display: flex;
    justify-content: flex-end;
    column-gap: 24px ;

}
.row{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.icon img{
    width: 20px;
    height: 18.59px;
    left: 1259px;
    top: 42px;
}

.img_1{
    width: 300px;
}
.row1 {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    gap: 5px;
}
.chap{
    font-size: 30px;
    color: #1f2e35;
    margin-top: 125px;
    
}
.ota1 button{
    width: 161px;
    height: 53px;
    background: #ee4248;
}
.chap span{
      color: #ee4248;
}


.ong img{
    width:100%;
    padding-top: 3rem;
}

.ota2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 97px;
}

.ong1 h1{
    padding-top: 7rem;
font-family: 'Roboto';
font-weight: 500;
font-size: 32px;
color: #1F2E35;
}

.ong1 span{
color: #EE4248;
font-family: 'Roboto';
font-weight: 500;
font-size: 32px;
}

.ong1 p{
padding-top: 24px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: #30444E;

}
.product{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    padding-left: 10rem;
    margin-top: 2rem;
}
.ota3 h2{
    text-align: center;
    margin-top: 5rem;
}

.card button {
    

align-items: flex-start;
padding: 8px 16px;
gap: 10px;
color: #FFFFFF;
border: none;
background: #EE4248;
box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
border-radius: 4px;
    
}



.card img{
width: 100px;
}
.card h1{
    color: #EE4248;
    
}
.box2{
  display: flex;
  align-items: center;
  text-align: left;
  gap: 60px;
}
.p2{
        background: #ee4248;
}
.box h1{
    
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
/* identical to box height */


color: #050505;



}
.box p{
    
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 149.19%;
/* or 27px */


color: #263238;

}
.adex{
    background: #EE4248;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
/* identical to box height */
padding: 22px;

color: #FFFFFF;
text-align: center;
}

.box2{
    padding-top: 5rem;
}

